name: CI

on: push

jobs:
  build:
    name: Build and Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Build
        uses: ./.github/actions/ci/build
        with:
          go_version-file: go.mod

  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Run Linter
        uses: ./.github/actions/ci/lint
        with:
          go_version-file: go.mod

  leaks:
    name: Check Leaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
      - name: Check Leaks
        uses: ./.github/actions/ci/leaks
        with:
          gitleaks_license: ${{ secrets.GITLEAKS_LICENSE }}
