name: CI

on: push

jobs:
  build:
    name: Build and Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build
        uses: ./.github/actions/ci/build
        with:
          go_version-file: go.mod

  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run Linter
        uses: ./.github/actions/ci/lint
        with:
          go_version-file: go.mod

  leaks:
    name: Check Leaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Check Leaks
        uses: ./.github/actions/ci/leaks
        with:
          gitleaks_license: ${{ secrets.GITLEAKS_LICENSE }}
